NEXT_PUBLIC_CHAIN=sui
NEXT_PUBLIC_SUI_NETWORK=testnet
NEXT_PUBLIC_SUI_RPC_URL=https://fullnode.testnet.sui.io:443
NEXT_PUBLIC_SUI_ACTIVE_ADDRESS=0xee770af6c184b101aa91fab0fffdee62c1fecc86fd3e681d978336bf70eead79
NEXT_PUBLIC_BACKEND_URL=http://localhost:3001
BACKEND_URL=http://localhost:3001

NEXT_PUBLIC_SUI_PACKAGE_ID=0xbb86d6dd74eaa2277f0aac7b2649e094ce4a92697baf3cf08e4fa5b842452cf8
NEXT_PUBLIC_SUI_MARKET_MODULE=prediction_market
NEXT_PUBLIC_MOCK_USDC_TYPE=0xbb86d6dd74eaa2277f0aac7b2649e094ce4a92697baf3cf08e4fa5b842452cf8::mock_usdc::MOCK_USDC
NEXT_PUBLIC_MOCK_USDC_DECIMALS=6
NEXT_PUBLIC_MOCK_USDC_METADATA_ID=0x55777a6792e90559480d91dfae8871c950f8ea3683a6ba3c051677b5819e5ecc
